cachetools==4.2.1
certifi==2020.12.5
cfn-flip==1.2.3
chardet==4.0.0
click==7.1.2
colorama==0.4.4
coverage==5.5
cycler==0.10.0
decorator==5.0.9
dj-database-url==0.5.0
Django==3.2.5
django-cors-headers==0.1
django-cors-middleware==1.5.0
django-heroku==0.3.1
django-rest-auth==0.9.5
djangorestframework==3.12.4
durationpy==0.5
Flask==1.1.2
flatbuffers==1.12
future==0.18.2
gast==0.4.0
grpcio==1.34.1
gunicorn==20.1.0
h5py==3.1.0
hjson==3.0.2
httpie==2.4.0
httplib2==0.19.0
idna==2.10
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
kappa==0.6.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
libcst==0.3.17
Markdown==3.3.4
MarkupSafe==1.1.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mccabe==0.6.1
mp-event-loop==1.5.2
mypy-extensions==0.4.3
mysql-connector-python==8.0.25
mysqlclient==2.0.3
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.3.0
optional-django==0.3.0
packaging==20.9
pandas==1.2.4
parso==0.8.2
pickleshare==0.7.5
Pillow==8.2.0
pip-tools==6.0.0
pip-update==0.4.1
placebo==0.9.0
prompt-toolkit==3.0.19
proto-plus==1.17.0
protobuf==3.15.6
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDrive==1.3.1
pygdrive3==0.8.1
Pygments==2.9.0
pylint==2.6.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.5
PyYAML==5.4.1
pyzmq==22.1.0
react==4.3.0
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
s3transfer==0.3.4
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
termcolor==1.1.0
text-unidecode==1.3
threadpoolctl==2.1.0
toml==0.10.2
tornado==6.1
tqdm==4.59.0
traitlets==5.0.5
troposphere==2.6.4
typing-extensions==3.7.4.3
typing-inspect==0.6.0
uritemplate==3.0.1
urllib3==1.26.3
wcwidth==0.2.5
Werkzeug==0.16.1
whitenoise==5.2.0
wrapt==1.12.1
wsgi-request-logger==0.4.6
